.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.letter-input {
  width: 14px;
  text-align: center;
  font-family: source-code-pro, monospace;
}

.above-input-fields {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.input-fields {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;

  textarea {
    resize: vertical;
  }
}

.btn-clean {
  border-radius: 4px;
  border: 1px solid #999;
  padding: 2px 8px;
}

.pt-letters {
  font-family: source-code-pro, monospace;
}

.nav-bar {
  width: 100%;
  background-image: linear-gradient(#eee, #bbb);
  border-bottom: #a00 6px solid;
}

.nav-flex {
  display: flex;
  padding: 6px 32px;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}
